@page "/"

@layout LoginLayout

<div>


    <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">Bienvenido</MudText>


    <MudTextField T="string"
                  Label="Correo"
                  Variant="Variant.Outlined"
                  @bind-Value="correo"
                  Class="my-6">
    </MudTextField>

    <MudTextField T="string"
                  InputType="InputType.Password"
                  Label="Contraseña"
                  Variant="Variant.Outlined"
                  Required="true"
                  @bind-Value="contra"
                  RequiredError="Contraseña es requerida!"
                  Class="my-6">
    </MudTextField>


    @* <a href="/page/inicio"> *@
        <MudButton Class="mt-5" Variant="Variant.Filled" Color="Color.Info" @onclick="()=>mostrarConexcionDataBase(correo, contra)" ButtonType="ButtonType.Submit" Size="Size.Large"
                   FullWidth="true">Iniciar Sesión</MudButton>
    @* </a> *@

    <a href="/page/inicio">
    <MudButton Class="mt-5" Variant="Variant.Filled" Color="Color.Info" ButtonType="ButtonType.Submit" Size="Size.Large"
               FullWidth="true">Iniciar Sin validaciones</MudButton>
    </a>




</div>