@page "/"

@layout LoginLayout

<div>


    <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">Bienvenido</MudText>


    <MudTextField T="string"
                  Label="Correo"
                  Variant="Variant.Outlined"
                  Class="my-6">
    </MudTextField>

    <MudTextField T="string"
                  InputType="InputType.Password"
                  Label="Contraseña"
                  Variant="Variant.Outlined"
                  Required="true"
                  RequiredError="Contraseña es requerida!"
                  Class="my-6">
    </MudTextField>


    <a href="/page/inicio">
        <MudButton Class="mt-5" Variant="Variant.Filled" Color="Color.Info" ButtonType="ButtonType.Submit" Size="Size.Large"
                   FullWidth="true">Iniciar Sesión</MudButton>
    </a>




</div>

@code {


}
